

/*body{
    line-height: normal;
}*/

/*#global_container {
    margin: 0px auto;
}*/

/*#hdContent {
    padding-left: 0px;
    padding-right: 0px;
}

#homepage{
    padding-top: 20px;
}

#homepage .year{
    font-size: 24px;
    text-align: center;
    margin-bottom: 5px;
}

#homepage .title{
    font-size: 24px;
    text-align: center;
    margin-bottom: 20px;
}*/

/*section{
    font-size: 20px;
}

section .title{
    font-size: 40px;
}*/

section#main {
    background-image: url("../../../bundles/ExecSupport/images/277674_277674_l_srgb_s_gl.jpg");
    background-position: center center;
    background-size: cover;
    min-height: auto;
    position: relative;
    text-align: center;
    width: 100%;
}

section#main .content{
    min-height: 300px;
}

section#main .content .title{
    color: #FFF;
    font-size: 60px;
    padding-top: 200px;
}

section#history{
/*    background: rgba(0, 0, 0, 0) -moz-linear-gradient(center top , #fff, #cecece) repeat scroll 0 0;*/
    
    background-color:#fff;
    background:-webkit-gradient(linear,left top,left bottom,from(#fff),to(#cecece));
    background:-webkit-linear-gradient(top,#fff,#cecece);
    background:-moz-linear-gradient(top,#fff,#cecece);
    background:-ms-linear-gradient(top,#fff,#cecece);
    background:-o-linear-gradient(top,#fff,#cecece);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffffff,endColorstr=#cecece,GradientType=0);
    
    padding-bottom: 40px;
}

section#history .year{
    color: #f0ab00;
    text-align: center;
    font-size: 56px;
}

section#install{
/*    background: rgba(0, 0, 0, 0) -moz-linear-gradient(center top , #383838, #000) repeat scroll 0 0;*/
    background-color:#383838;
    background:-webkit-gradient(linear,left top,left bottom,from(#383838),to(#000));
    background:-webkit-linear-gradient(top,#383838,#000);
    background:-moz-linear-gradient(top,#383838,#000);
    background:-ms-linear-gradient(top,#383838,#000);
    background:-o-linear-gradient(top,#383838,#000);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#383838,endColorstr=#000000,GradientType=0);
    
    
    padding: 100px 0px;
    color: #FFF;
}

section#help{
    padding: 100px 0px;
}

#installation-instructions ul{
    list-style: decimal;
}

#installation-instructions ul li{
    padding: 5px;
}

#installation-instructions span.highlight {
    background-color: yellow;
}


/* Header Navigation */
/*.saplogo {
    float: left;
    margin-top: -6px;
}*/

.navbar{
    border-width: 0px 0px 1px 0px;
    margin-bottom: 0px;
}

.navbar-default .navbar-brand a:hover {
    text-decoration: none;
}

.navbar-default .navbar-nav > li > a {
    color: #222;
    font-weight: bold;
}
.navbar-default .navbar-nav > li > a:hover {
    color: #008fd3;
}

.input-lg {
    border: 1px solid #ccc;
    border-radius: 0;
    width: 100%;
}

.txt.red {
    color: red;
}

#stats{
    position: absolute;
    width: 100%;
    bottom: 0px;
}

#stats .elem .stat-content{
    background-color: rgba(255, 255, 255, 0.6);
    padding: 0px 10px;
}

#stats .number{
    color: green;
}

.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#col-left-menu{
    background-color: #fff;
    border-right-width: 1px;
    border-right-color: #F3F3F3;
    border-right-style: solid;
    min-height: 600px;
}




.mu {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
}

.mv {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1.25rem;
}

.blg {
    max-width: 115px;
    width: 115px;
    height: 115px;
    margin-bottom: 5px;
    border: 3px solid #fff;
    border-radius: 100%;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}

.abk {
    margin-bottom: 1.5rem !important;
}

.abc {
    margin-right: 1rem !important;
}

body{
/*    background-color: #F9F9F9;*/
    background-color: rgb(244, 244, 244);
    color: #333333;
    font-family: "BentonSansMedium", Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

html{
    font-size: 14px;
}

.list-unstyled .fa {
    width: 1.5rem;
}

.list-unstyled li {
    margin-bottom: 5px;
}

#mainNav.navbar-default{
    background-color: #000;
    border-color: #000;
    border-radius: 0px;
}

#mainNav.navbar-default {
    color: #fff;
}

#mainNav.navbar-default .navbar-nav > li > a {
    color: #fff;
}